<header class="header-style fixed-top">
	<div class="container">
		<div class="header d-lg-flex justify-content-between align-items-center">
			<!-- logo -->
			<h1 class="logo text-center">
				<a href="index.html">Plants<i class="fa fa-pagelines" aria-hidden="true"></i>
				</a>
			</h1>
			<div class="nav_w3ls">
				<nav>
					<label for="drop" class="toggle toogle-2">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu">
						<li class="active ml-0"><a href="/">Home</a></li>
						<!-- <li><a href="#about">About Us</a></li> -->
						<li><%= link_to "About Us", welcome_about_us_path %></li>
						<!-- <li><a href="#services">Services</a></li> -->
						<li><%= link_to "services",  welcome_services_path %></li>
						<!-- <li><a href="#blog">Blog</a></li> -->
						<li><%= link_to "blog",  welcome_blog_path %></li>
						<!-- <li><a href="#gallery">Gallery</a></li> -->
						<li><%= link_to "gallery",  plants_path %></li>
						<!-- <li class="mr-0"><a href="#contact">Contact Us</a></li> -->
						<li><%= link_to "contact us",  welcome_contact_us_path %></li>
						<% if current_user.present? %>
			      	<li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			      <% else%>
			      <li> <%= link_to "Sign in", new_user_session_path %></li>
			     <% end %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>